
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input formControlName="username" type="text" pInputText placeholder="Username">
  </div>
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input formControlName="password" type="password" pInputText placeholder="Password">
  </div>
  <button pButton type="button" label="Confirmer" type="submit" value="submit" [disabled]="!form.valid"></button>
</form>

