<h2>Liste des Réservations<h2>
<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="onOpenNew()"></button>
  </ng-template>
</p-toolbar>
<p-table [value]="bookings">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Date</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
      <tr>
          <td>{{book.id}}</td>
          <td>{{book.date | date:'dd-MM-yyyy'}}</td>
      </tr>
  </ng-template>
</p-table>


<form (ngSubmit)="onSaveBooking()" [formGroup]="form">
  <p-dialog [(visible)]="isBookingDialogVisible" [style]="{width: '450px'}" header="Réservation" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input formControlName="username" type="text" pInputText placeholder="Username">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <p-calendar formControlName="date" dateFormat="dd-mm-yy" appendTo="body"></p-calendar>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="onHideDialog()"></button>
      <button pButton pRipple label="Confirmer" icon="pi pi-check" class="p-button-text" type="submit" value="submit" [disabled]="!form.valid"></button>
    </ng-template>
  </p-dialog>
</form>
